<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (isAuthenticated && currentUser && currentUser.role == 1) { %>
          <li class="nav-item">
            <a class="nav-link <%= path === '/admin/stores' ? 'active' : '' %>" aria-current="page" href="/admin/stores">Stores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/admin/users' ? 'active' : '' %>" href="/admin/users">Users</a>
          </li>
        <% } %>
      </ul>
      <ul>
        <% if (!isAuthenticated) { %>
          <li class="main-header__item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/device_info">Device Info</a>
        </li>
          <li class="main-header__item">
              <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
          </li>
        <% } else { %>
          <li class="main-header__item">
              <form action="/logout" method="post">
                  <button type="submit">Logout</button>
              </form>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>
<div class="container">
